@charset "UTF-*";

*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: beige;
    max-width: 1500px;
    margin: auto;
}

.header{
    text-align: center;
    padding: 30px;
    background-color: white;
    font-size: 1.5em;
}


.topnav{
    background-color: black;
    padding: 10px;
    display: inline-block;
    width: 100%;
    vertical-align: middle;
}

.topnav a{
    text-decoration: none;
    padding: 10px;
    color: #f2f2f2;
    display: inline;
    font-size: 1.5em;
    float: left;
}

#carrinho{
    float: right;
}

.topnav a:hover{
    
    background-color: white;
    transition: .2s;
    color: black;
    border-radius: 5px;
}

.topnav img{
    height: 1.5em;
    vertical-align: middle;
}

.sellcard{
    display: inline-block;
    width: 23.40%;
    margin: 10px;
    text-align: center;
}
.sellcard img{
    width: 80%;
    margin: auto;
}

p.descricao{
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
}

p.valor{
    text-align: center;
    font-size: 0.8em;
    font-weight: bold;
}

p.compra{
    text-align: center;
}