

.populares__info {
    border-bottom: solid 1px rgb(204, 199, 199);
    margin-top: 20px;
}

.populares__cabecalho {
    display: flex;
    justify-content: space-between;
}

.populares__botao {
    border: unset;  
}

.populares__conteudo {
    display: grid;
    grid-template-columns: repeat(5, auto);
    overflow: hidden;
    column-gap: 10px;
    margin: 15px 0px;
}

.populares__card___imagem {
    max-width: 100%;
    max-height: 100%;
    min-height: 150px;
}

.populares__card {
    background-color: white;
    cursor: pointer;
}

.populares__card:hover{
    width: 99%;
    height: 99%;
    justify-self: center;
    align-self: center;
}

.populares__card___titulo {
    font-size: 20px;
}

.populares__card___data {
    font-size: 13px;
    color: gray;
}

.populares__card___corpo {
    padding: 10px 15px;
}

.populares__card___descricao {
    margin-top: 10px;
    text-align: justify;
}
  