.app {
    width: 1000px;
    background: #f1f1f1;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
}

.cabecalho{
    margin-top: 20px;
    padding: 10px 10px 10x 0px;
}

.conteudo {
    margin-top: 20px;
}

.rodape {
    background-color: white;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}
  
  