.app {
    width: 1000px;
    background: #f1f1f1;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
}

.cabecalho{
    padding: 10px;
}

.cabecalho a{
    color: rgb(63, 62, 62);
    padding: 10px;
}
 
.conteudo {
    margin-top: 10px;
}

.rodape {
    background-color: white;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}
  
  