@charset "UTF-8";

*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgb(233, 231, 230);
    max-width: 1500px;
    margin: auto;
}

.topnav{
    background-color: rgb(65, 63, 63);
    padding: 10px;
}

.topnav a{
    text-decoration: none;
    color: #f2f2f2;
    padding: 10px;
    font-size: 1.5em;
}

.topnav a:hover{
    background-color: aliceblue;
    color: rgb(65, 63, 63);
    border-radius: 10px;
    transition: .3s;
    padding-top: 2px;
    padding-bottom: 2px;
}

.titulo-principal{
    background-image: url("../imagens/pizza.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 700px;
    text-align: center;
    vertical-align: middle;
    color: white;
    font-size: 150px;
    padding-top: 250px;
}

.card{
    background-color: white;
    padding: 15px;
    margin-top: 10px;
}

.card p, .card span{
    font-size: 25px;
}

.preco{
    background-color: rgb(102, 101, 101);
    float: right;
    color: white;
    padding: 8px;
    border-radius: 8px;
    margin-right: 5px;
}

ul{
    list-style: none;
}

.footer{
    background-color: rgb(211, 209, 208);
    text-align: center;
    padding: 20px;
    margin-top: 10px;
}
